.services-container{
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 500px;
    height: auto;
    margin: 150px auto;
}

.service-cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    gap:100px;
}